
@charset "UTF-89;
#logo{

}
*{margin: 0px;padding:0px;}

header h1{
	width:400px;
	height:80px;
	text-align: center;
	margin: 10px 50px 0px;
	float: left;
	background-color: antiquewhite;
	
}
header ul{
	width: 600px;
	height: 60px;
	margin: 30px 40px 0px;
	float: right;
	list-style: none;
	background-color: antiquewhite;
}
header ul li{
	float: right;
	margin: 0px 20px 0px;
}

#main_background{
	clear:both;
	width:100%;
	height:600px;
	text-align: center;
	background-color: antiquewhite;
}

#hat{
	width:1000px;
	height:600px;
	margin: 20px auto;
	background-color: antiquewhite;
	text-align: center;
}

#hat img{
	width:250px;
}

.float_left{
	float:left;
	
}


#shirt{
	width:800px;
	height:600px;
	margin: 20px auto;
	background-color: antiquewhite;
	text-align: center;
}

#shoes{
	width:800px;
	height:600px;
	margin: 20px auto;
	background-color: antiquewhite;
	text-align: center;
}

#accessories{
	width:800px;
	height:600px;
	margin: 20px auto;
	background-color: antiquewhite;
	text-align: center;
}